$primary-font: Roboto, sans-serif;
$primary-text-color: #757575;
$accent-text-color: #ffffff;
$titles-color: #212121;
$secondary-background-color: #f5f4fa;
$primary-background-color: #ffffff;
$accent-background-color: #2f303a;
$accent-blue-color: #2196f3;
$decoration-color: #afb1b8;

$phone: 480px;
$tablet: 768px;
$desktop: 1200px;
